/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
#root
{
  overflow-x: hidden;
}
.img1{
  position: absolute;
  top: 5rem;
  right: 6rem;
}
.img3
{
position:absolute;
top: 19rem;
right:27rem;
animation:bounce 7s infinite;
width: 140px;
height: 120px;
}
.img2{
position:absolute;
top:20rem ;
right:13rem;
animation:bounce 7s infinite;
width: 150px;
  height: 150px;
}
@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
}

